<!DOCTYPE html>
<html lang = "zh" xmlns:th = "http://www.thymeleaf.org">
<head>
	<meta charset = "UTF-8">
	<title>修改文章</title>
</head>
<body>
<div th:include="index::top"></div>
<center>
	<h3>修改文章</h3>
	<form th:action = "@{/main/editArticle/input}" method = "post">
		<table>
			<tr>
				<td>文章标题 : <input type = "text" name = "title" th:value="${article.title}" size="30"></td>
			</tr>
			<tr>
				<td>文章内容 :</td>
			</tr>
			<tr>
				<td colspan = "2"><textarea rows = "45" cols = "100" name = "article"
				                            th:text="${article.article}"></textarea></td>
			</tr>
			<tr>
				<td><input type="hidden" name="articleId" th:value="${article.articleId}"></td>
			</tr>
			<tr>
				<td align = "center" colspan = "2"><input type = "submit" value = "提交"></td>
			</tr>
		</table>
	</form>
</center>

</body>
</html>